.init-page{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10%;
}

@media (max-width: 650px) {
    .init-page {
        height: auto;
        width: auto;
     
    }
}
.init-page__title {
    width: 80%;
    height: auto;
    font-family: var(--fuenteSecundaria);

    font-size: 48px;
    color: #009048;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
@media (max-width: 650px) {
    .init-page__title {
        font-size: 40px;
    }
}

.init-page__button{
    margin-top: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    
}
@media (max-width: 650px) {
    .init-page__button {
        margin-top: 5%;
    }
}
.init-page__hands {
    margin-top: 10%;
}
@media (max-width: 650px) {
    .init-page__hands {
        margin-top: 20rem;
    }
    
}